@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #778AF5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {

    margin: 100px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section#Login {
    width: 280px;
    height: 515px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

div.form > h1 {
    text-align: center;
}

div.campo > input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.644);
}

div.esqueci > a {
    background-color: lightgrey;
    padding: 8px;
    display: block;
    margin: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
    color: black;

div.esqueci > input {
    background-color: lightgrey;
    border: none;
    width: 100%;
    padding: 10px;
    display: block;
    border-radius: 5px;
    font-size: 1.1em;
}
